data/domains.csv
data/domains.xlsx
data/sample_submission.csv
data/test_identity.csv
data/test_nn_submission.csv
data/test_transaction.csv
data/train_identity.csv
data/train_transaction.csv
data/train_transaction.xlsx
data/submissions/knn_baseline.csv
data/submissions/nn_baseline.csv
data/submissions/sub_11_30.csv
data/submissions/sub_12_02_0.csv
data/submissions/sub_12_02_1.csv
data/submissions/sub_12_02_2.csv
data/submissions/sub_12_02_3.csv
data/submissions/sub_12_02_4.csv
data/submissions/sub_12_02_5.csv
data/submissions/sub_12_02_6.csv
data/submissions/sub_12_02_7.csv
data/submissions/sub_12_02_8.csv
data/submissions/sub_12_02_9.csv
data/submissions/sub_12_02_10.csv
data/submissions/sub_12_02_11.csv
data/submissions/sub_12_02_12.csv
data/submissions/sub_12_02_13.csv
data/submissions/sub_12_02_14.csv
data/submissions/sub_12_02_15.csv
data/submissions/sub_12_02_16.csv
data/submissions/sub_12_02_17.csv
data/submissions/sub_12_02_18.csv
data/submissions/sub_12_02_19.csv
data/submissions/sub_12_02_20.csv
data/submissions/sub_12_02_21.csv
data/submissions/sub_12_02_22.csv
data/submissions/sub_12_02_23.csv
data/submissions/sub_12_02_24.csv
data/submissions/sub_12_02_25.csv
data/submissions/sub_12_02_26.csv
data/submissions/sub_12_02_27.csv
data/submissions/sub_12_02_28.csv
data/submissions/sub_12_02_29.csv
data/submissions/sub_12_02_30.csv
data/submissions/sub_12_02_31.csv
data/submissions/sub_12_02_32.csv
data/submissions/sub_12_02_33.csv
data/submissions/sub_12_02_34.csv
data/submissions/sub_12_02_35.csv
data/submissions/sub_12_02_36.csv
data/submissions/sub_12_02_37.csv
data/submissions/sub_12_02_38.csv
data/submissions/sub_12_02_39.csv
data/submissions/sub_12_02_40.csv
data/submissions/sub_12_02_41.csv
data/submissions/sub_12_02_42.csv
data/submissions/sub_12_02_43.csv
data/submissions/sub_12_03_01.csv
data/submissions/sub_12_03_02.csv
data/submissions/sub_12_03_03.csv
data/submissions/sub_12_03_04.csv
data/submissions/sub_12_03_05.csv
data/submissions/sub_12_03_06.csv
data/submissions/sub_12_03_07.csv
data/submissions/sub_12_03_14.csv
data/submissions/sub_12_04_00.csv
data/submissions/sub_12_04_01.csv
data/submissions/sub_12_04_02.csv
data/submissions/sub_12_04_03.csv
data/submissions/sub_12_04_04.csv
data/submissions/sub_12_04_05_binary.csv
data/submissions/sub_12_04_05.csv
data/submissions/sub_12_04_06.csv
data/submissions/sub_12_04_07.csv
data/submissions/sub_12_04_08.csv
data/submissions/sub_12_04_09.csv
data/submissions/sub_12_04_10.csv
data/submissions/sub_12_04_11.csv
data/submissions/sub_12_04_12.csv
data/submissions/sub_12_04_13.csv
data/submissions/sub_12_04_14.csv
data/submissions/sub_12_04_15.csv
data/submissions/sub_12_04_16.csv
data/submissions/sub_12_04_18.csv
data/submissions/sub_12_08_01.csv
data/submissions/sub_12_08_02.csv
data/submissions/tuning_hypers.csv
data/submissions/tuning_hypers2.csv
data/submissions/tuning_hypers3.csv
data/submissions/tuning_hypers4.csv
data/submissions/tuning_hypers5.csv
data/submissions/tuning_hypers6.csv
data/submissions/tuning_hypers7.csv
data/submissions/tuning_hypers8.csv
data/submissions/tuning_hypers9.csv
data/submissions/tuning_hypers10.csv
data/submissions/test/none_fraud.csv
data/submissions/test/sample_submission.csv
code_snippets/domain_features.py
code_snippets/identity_features.py
code_snippets/pca.py
code_snippets/time_based_split.py
code_snippets/time_features.py
code_snippets/txn_usd_convert.py
sandbox.qmd
data/submissions/ensemble_submission.csv
fraud_detection_model_uid.ipynb
Functional_model_CM.ipynb
keras-nn-focal-loss-experiments.ipynb
long_eda.ipynb
team_fraud_detection_notebooks.zip
